

<header>
    <nav>
        <a href="#">Inicio</a>
        <a href="http://127.0.0.1:5000/acerca">Acerca de</a>
        <a href="http://127.0.0.1:5000/create" target="_blank">Espacio de Consultas</a>
        <a href="pages/login.html">Login</a>
    </nav>
    <section class="textos-header">
        <h1>Entiende las matemáticas en la Biología</h1>
        <h2>Con ejemplos y demostraciones potentes</h2>
    </section>

    <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-2.55,40.75 C188.76,87.13 365.40,149.30 503.10,6.22 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
</header>