<style>
    footer{
            background-color: black;
            color: white;
            margin: 1%;
            padding: 20px;
            left: 0;
            bottom: 0;
            height: 100px;
            margin-top: 0;
            text-align: center;
                
    }
    footer p{
            font-size:1.5em;
    }
        .link {color: #e9e9f0;

}
        .link2{color: #0e1fa1;

        }
         a {color: #e5e6ee;
        }
        
</style>
   

 <footer>
    <p>Marce&Rodri - &copy; 2021 -  <a class="link"  href="https://www.linkedin.com/in/marcelo-gamarra-017692218/"><i class="fab fa-linkedin"></i></a>  <a class="link" href="https://www.instagram.com/marcegamarraok/"><i class="fab fa-instagram"></i></a> <a class="link"  href="https://www.facebook.com/chelovago"><i class="fab fa-facebook-square"></i></a></p>
</footer> 
